# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code / IntelliJ
# ==========================
.vscode/
.idea/
*.iml

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Documentation (Private)
# ==========================
docs/Project_progress.md
docs/Developer_Notes.md

# ==========================
# Backend Build
# ==========================
backend/target/

# ==========================
# Frontend Build
# ==========================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# ==========================
# Postman Local Cache
# ==========================
.postman/
postman/

CHANGELOG.md